header {
    width: 100%;
    z-index: 2;
   position: absolute;

}
nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    align-content: center;
    padding: 0px 3%;
    height: 10vh;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 8%);
    background-color: transparent;
   
    width: 100%;
}



.enlaces a{
    color: var(--blanco);
    text-decoration: none;
    font-size: 14px;
    padding: 20px;
}



.nav_items.open {
    transform: translateX(0) !important;
  
}


.nav_toggle{
    display: flex !important;
    flex-direction: column;                
    margin: 15px;
    cursor: pointer;
}
.nav_toggle span{
    width: 25px;
    height: 3px;
    background: var(--blanco);
    margin-bottom: 5px;
    border-radius: 20px;
    transform-origin: 3px 0px;
    transition: all 0.2s linear;
   display: none;
}


.logo img{
    width: 120px;
    
}
.logo-nav img{
display: none;
    width: 10px;
}
.cerrar-nav{
    color: #fff;
    cursor: pointer;
    display: none;
}


.nav_items{
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}


@media (max-width: 1024px) {

    .logo img{
        width: 100px;
        
    }
    .cerrar-nav{
        color: var(--color1);
        display: flex;
        margin-left: 90%;
      
        font-size: 20px;
        font-weight: 600;
    }
    .logo-nav img{
        display: flex;
        width: 100px;
        }
        
    .nav_toggle span{
        width: 25px;
        height: 3px;
        background: var(--blanco);
        margin-bottom: 5px;
        border-radius: 20px;
        transform-origin: 3px 0px;
        transition: all 0.2s linear;
       display: flex;
    }

  .nav_items{
   z-index: 800;
   position: fixed;
   top: 0;
   left: 0;
   background-color: var(--bg-color);
   display: flex;
   flex-direction: column;
   width: 80%;
   height: -webkit-fill-available;
   transform: translateX(-100%);
   transition: 0.3s ease all;
   height: 100vh;
   gap: 2rem;
 
   padding: 20px;
   justify-content: left;
   background-image: url(../../img/hero-nav.png);
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
}


.enlaces a{
    color: var(--color1);
    text-decoration: none;
    font-size: 14px;
    padding: 20px;
}
.navbar a{
    display: flex;
    flex-direction: column;
    text-align: center;
  
}

    
}


